[Desktop Entry]
Version=1.0
Name=GNS3
Comment=Graphical Network Simulator
Exec=bash -c 'source /home/{{user}}/gns3-env/bin/activate && gns3'
Icon=/home/{{user}}/.local/share/applications/gns3.png
Terminal=false
Type=Application
Categories=Network;Development;